


/*                      COLORS
------------------------------------------------------------------------- */

$color_light:    #F2F2EC;
$color_blended:  rgba(255,255,255,0.5);
$color_lightest: rgba(255,255,255,0.3);
$color_dark:     rgba(0,0,0,0.5);
$color_dark2:    rgba(0,0,0,0.25);
$color_black:    rgba(0,0,0,0.8);

$color_brand1:   #B7DF5B;
$color_brand2:   #F97157;



/*                      TYPOGRAPHY
------------------------------------------------------------------------- */

$font: 'Francois One', 'Lucida Sans', Helvetica, sans-serif;



/*                      SIZES
------------------------------------------------------------------------- */

$category_btn_height: 2.5em;
$category_menu_height: 8 * ($category_btn_height + 0.2em);
$continents_list_height: 1.4em;
$bar_height: 3em;


